@using SeyahatGeziWebProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot"></h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                               <a href="/Etkinlikler/Restoranlar"><img src="~/web/images/glass-cheers.png" style="height:70px;width:70px;" alt=""></a>
                            </div>
                            <div class="grid1-desc">
                                <p>Restoranlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                               <a href="#" ><img src="~/web/images/plane-alt.png" style="height:70px;width:70px;" alt=""></a>
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <a href="~/Etkinlikler/Otel"><img src="~/web/images/bed.png" style="height:70px;width:70px;" alt=""></a>
                            </div>
                            <div class="grid1-desc">
                                <p>Oteller</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                               <a href="#"><img src="~/web/images/car-alt.png" style="height:70px;width:70px;" alt=""></a>
                            </div>
                            <div class="grid1-desc">
                                <p>Ulaşım</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px;height:323px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.BlogImage"  alt=""></li>
                                    
                                }

                            </ul>
                            <h2 class="indent-left margin-bot"></h2>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Seyahat Bloğuma Hoşgeldiniz</h3>
                    <p> Sizde benim gibi gezmeyi yeni yerler keşfetmeyi seviyorsanız bloguma hoşgeldiniz. Dünyanın dört bir tarafını birlikte keşfetmeye var mısınız? Hadi durmayın sizde yorumlarınızla bana eşlik edin. Keyifli okumalar..</p>
                </div>
              @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                        @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


